#header-text {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 20pt;
    font-weight: 350;
}

.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    background: lightcoral center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-card {
    min-height: 100%;
}

.mdl-dialog {
    width: 60vw;
    box-shadow: 0 0 15px 5px rgba(79,79,79,0.55);
}

.mdl-textfield {
    width:90%;
}