/* start and finish classes */
.start-time {
    background-color: green;
    color: white;
}

.finish-time {
    background-color: firebrick;
    color: white;
}

/* status colours */
.not-started {
    /* for not started use chip default colors */
}
.in-progress {
    background-color: green;
    color: white;
}
.finished {
    background-color: firebrick;
    color: white;
}

.list-item:hover{
    background-color: lightgray;
    transition: background-color .1s;
}

#team-list {
    border: 2px solid;
    height: 50%;
    overflow-y: scroll;
    font-family:'Roboto',sans-serif
}

.tabs {
    width: 97vw;
    float: left;
    margin-bottom: 10px;
    display: inline;
    border-bottom: 1px solid #e0e0e0
}

.task-info {
    height: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* Column | row */
}

/* dividers */
.divider {
    width: 100%;
    height: 34px;
    background-color: paleturquoise;
    border-bottom: 2px solid rgb(33,150,255);
    border-top: 2px solid rgb(33,150,255);
    text-align: center
}
.task-divider {
    width: 96%;
    height: 25px;
    margin-left: 15px;
    background-color: paleturquoise;
    border-bottom: 2px solid rgb(33,150,255);
    border-top: 2px solid rgb(33,150,255);
    text-align: center
}
.burndown-divider {
    width: 96%;
    height: 25px;
    margin-left: 15px;
    background-color: #F8CECC;
    border-bottom: 2px solid #B85450;
    border-top: 2px solid #B85450;
    text-align: center
}


/* priority */

.low-p {
    background-color: rgb(53, 231, 142);
}

.med-p {
    background-color: rgb(240, 221, 75);
}

.high-p {
    background-color: rgb(235, 140, 44);
    color: white
}

.crit-p {
    background-color: orangered;
    color: white;
}

/* tags */

.ui-tag {
    background-color:orange
}

.core-tag {
    background-color:hotpink
}

.testing-tag {
    background-color:lightgreen
}
