.start-time {
    background-color: green;
    color: white;
}

.finish-time {
    background-color: firebrick;
    color: white;
}

.tabs {
    width: 97vw;
    float: left;
    margin-bottom: 10px;
    display: inline;
    border-bottom: 1px solid #e0e0e0
}